html {
    font-family: 'Roboto', sans-serif;
}
.field {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
}
.gamefield {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px auto;
}

header h1 {
    text-align: center;
}